.nav {
  background-color: rgb(56, 22, 56);
  color: whitesmoke;
  box-shadow: 20px rgb(175, 110, 255);
}

.nav ul {
  justify-content: center;
}

.nav ul li {
  display: inline-block;
  margin: 3%;
  font-size: 1.2rem;
}
